body {
  color:rgb(0,0,0);
  font-family: 'Spectral', serif;
}

h1 {
  
}

button {
  
}

a {
  
}

input {
  
}

.intro {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
